@font-face {
    font-family: 'Otomanopee One';
    src: url('OtomanopeeOne-Regular.eot');
    src: local('Otomanopee One Regular'), local('OtomanopeeOne-Regular'),
        url('OtomanopeeOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('OtomanopeeOne-Regular.woff2') format('woff2'),
        url('OtomanopeeOne-Regular.woff') format('woff'),
        url('OtomanopeeOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

